p a {
    color: white;
}

#navarrows {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

#navarrows img {
    height: 110px;
    position: fixed;
    top: 40%;
    cursor: pointer;
}

#rightarrow {
    right: 0px;
    margin-right: .5em;
}

#leftarrow {
    margin-left: .5em;
    left: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#arrows {
    display: none;
}

#navbar-bottom {
    position: absolute;
    display: none;
    color: white;
    background-color: black
}

#navbar-photos {
    width: 60px;
    height: 60px;
}

.navbar a {
    display: block;
    float: left;
    padding: 10px 16px;
    cursor: pointer;
    text-align: left;
    vertical-align: left;
    text-decoration: none;
    color: white;
    margin-top: 1px;
    position: relative;
}

.navbar {
    width: 100%;
}

#share {
    position: relative;
    float: right;
}

#navbar-bottom img {
    height: 1em;
}

#info {
    float: right;
}

body {
    background: url('') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
