#free-to-use {
    position: fixed;
    left: 25%;
    right: 25%;
    display: none;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: Courier New, monospace;
    padding: 10px;
    margin-top: 10px;
}

p a {
    color: white;
}

#navarrows {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

#navarrows img {
    height: 110px;
}

#rightarrow {
    position: fixed;
    top: 40%;
    right: 0px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

#leftarrow {
    position: fixed;
    top: 40%;
    left: 0px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#arrows {
    display: none;
}

#navbar-bottom {
    position: absolute;
    display: none;
    color: white;
    background-color: black
}

#navbar-photos {
    width: 60px;
    height: 60px;
}

.navbar a {
    display: block;
    float: left;
    padding: 10px 16px;
    cursor: pointer;
    text-align: left;
    vertical-align: left;
    text-decoration: none;
    color: white;
    font-size: 18px;
    \\background-color: black;
    margin-top: 1px;
    position: relative;
}

.navbar {
    width: 100%;
    font-family: Helvetica , monospace;
}

#share {
    position: relative;
    float: right;
}

#navbar-bottom img {
    height: 30px;
}

#info {
    float: right;
}


body {
    background: url('') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
