p a {
    color: white;
}

#navarrows {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

#navarrows img {
    position: fixed;
    height: 5%;
    top: 40%;
}

#rightarrow {
    right: 0px;
    margin-right: 1em;
}

#leftarrow {
    margin-left: 1em;
    left: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#arrows {
    display: none;
}

#navbar-bottom {
    position: absolute;
    display: none;
    color: white;
}

#navbar-photos {
    width: 60px;
    height: 60px;
}

.navbar a {
    display: block;
    float: left;
    padding: .5em .3em .7em;
    cursor: pointer;
    text-align: left;
    vertical-align: left;
    text-decoration: none;
    color: white;
    font-size: .9em;
    margin-top: 1px;
    position: relative;
}

.navbar {
    width: 100%;
    font-family: Helvetica , monospace;
    padding: .1em 1em;
}

#share {
    position: relative;
    float: right;
}

#share img {
    padding: 0 .5em;
}

#navbar-bottom img {
    height: 1.3em;
}

#info {
    float: right;
}


body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
